spring:
  application:
    name: "mobilelele"
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/mobilelele?allowPublicKeyRetrieval=true&useSSL=false&createDatabaseIfNotExist=true
    username: root
    password: 123321
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: update
    open-in-view: false
  sql:
    init:
      mode: never
  mvc:
    hiddenmethod:
      filter:
        enabled: true

#  spring.datasource.driverClassName=com.mysql.cj.jdbc.Driver
#  spring.datasource.url=jdbc:mysql://localhost:3306/volcanoes?allowPublicKeyRetrieval=true&useSSL=false&createDatabaseIfNotExist=true
#  spring.datasource.username=root
#  spring.datasource.password=123321
#
#  #JPA Properties
#  spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.MySQL8Dialect
#  spring.jpa.properties.hibernate.format_sql = TRUE
#  spring.jpa.hibernate.ddl-auto = update
#  spring.jpa.open-in-view=false
