<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<div class="page-container">
    <header th:replace="~{fragments/commons::header}"></header>
    <main class="content-wrap">
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Tasks</span></h1>
        <hr class="hr-3 w-75 bg-white"/>
        <th:block th:each="task : ${allTasks}">
            <form class="mx-auto w-75 "
                  th:method="POST"
                  action=""
                  th:object="${task}">

                <div class="card-group task-card">
                    <div class="card">

                        <div class="card-title">
                            <h5 class="card-title">Name</h5>
                        </div>
                        <div class="card-footer">
                            <small th:field="*{name}" th:text="*{name}"></small>
                        </div>
                    </div>
                    <div class="card">

                        <div class="card-title">
                            <h5 class="card-title">Assigned to</h5>
                        </div>
                        <div class="card-footer">
                            <small th:field="*{assignedTo}" th:text="*{assignedTo}"></small>
                        </div>
                    </div>
                    <div class="card">

                        <div class="card-title">
                            <h5 class="card-title">Classification</h5>
                        </div>
                        <div class="card-footer">
                            <small th:field="*{classification}" th:text="*{classification}"
                                   th:class="|classifications *{classification}|"></small>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <h5 class="card-title">Due Date</h5>
                        </div>
                        <div class="card-footer">
                            <small th:field="*{dueDate}" th:text="*{dueDate}"></small>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-title">
                            <h5 class="card-title">Progress</h5>
                        </div>
                        <div class="card-footer">
                            <small th:field="*{progress}" th:text="*{progress}"></small>
                        </div>
                    </div>

                    <a th:href="@{/task/progress/{id}(id = ${task.id})}" class="button prBtn">Progress</a>
                </div>

            </form>
        </th:block>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</div>
</body>
</html>
